## **POS-0004:** Point of Sales Testing - Reports

> **Summary:** Verify that the reports are successfully displayed. <br>

**Preconditions:**

- User must be connected to the internet
- User must be logged in
- Product must be present
- Activity / Transaction must be done

Scenario 1

| \#  | Step                      | Expected Behavior                      |
| --- | ------------------------- | -------------------------------------- |
| 1   | Vist the mobile app.      | Verify that the login page is shown.   |
| 2   | Click the reports button. | Verify that the reports page is shown. |

**Post-conditions:**

- The reports page is displayed.
